<!DOCTYPE html>
<html>
<head>
    <title>Naughts and Crosses</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1 style="text-align:center">Naughts and Crosses</h1>
    <table id="board">
        {% for r in range(3) %}
        <tr>
            {% for c in range(3) %}
            <td data-row="{{r}}" data-col="{{c}}">{{ grid[r][c] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div style="text-align: center;">
        <button id="replayButton">Reset</button>
    </div>
    <script src="{{url_for('static', filename='js/gameHandler.js') }}"></script>
</body>
</html>